<div id="login">
    <div class="wrapper">
        <div class="input">
            <label for="username">Přihlašovací jméno</label>
            <input type="text" id="username" />
        </div>
        <div class="input">
            <label for="password">Heslo</label>
            <input type="password" id="password" />
        </div>
        <div class="alert"></div>
        <button id="button-login" class="submit">Přihlásit</button>
    </div>
</div>