<div class="tiles">
    <div class="tile">
        <div>
            <div class="label">Label</div>
            <div class="value">Value</div>
        </div>
        <div>
            <div class="label">Something</div>
            <div class="value">Else</div>
        </div>
        <div>
            <div class="label">What's</div>
            <div class="value">supposed to be here</div>
        </div>
        <pre>{{general}}</pre>
    </div>
    <div class="tile">
        <pre>{{address}}</pre>
    </div>
    <div class="tile">
        <pre>{{contacts}}</pre>
    </div>
</div>