@import '../../../../../scss/variables';

div#screen-customers-detail {
    overflow: auto;

    div.tiles {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 20px 40px;

        div.tile {
            background: #fff;
            padding: 20px;
            margin: 0 20px 20px 0;

            > div {
                margin-right: 40px;
                margin-bottom: 20px;
                min-width: 120px;

                div.label {
                    font-family: opensans-light;
                    margin-bottom: 5px;
                }
                div.value {
                    font-size: 16px;
                    font-family: opensans-semibold;
                }
            }

            pre {
                padding-top: 20px;
                border-top: 1px solid #eee;
                margin: 0;

                &:first-child {
                    padding: 0;
                    border: none;
                }
            }
        }

        @media (max-width: $sidebar-breakpoint) {
            flex-direction: column;
            align-items: stretch;
            padding: 20px 0;

            div.tile {
                margin: 0 0 20px 0;
            }
        }
    }
}