<div class="left"></div>
<div class="right">
    <div class="summary">
        summary
    </div>
    <div class="buttons">
        <button class="submit">
            <span class="material-icons">{{{icons.Wallet}}}</span>
            Hotově
        </button>
        <button class="submit">
            <span class="material-icons">{{{icons.CreditCard}}}</span>
            Kartou
        </button>
    </div>
</div>