

<div class="row">
    <div class="label">Cena bez DPH</div>
    <div class="value">{{priceWithoutVat}}</div>
</div>
<div class="row">
    <div class="label">DPH ({{vatRate}} %)</div>
    <div class="value">{{vat}}</div>
</div>
<div class="row">
    <div class="label">Celkem</div>
    <div class="value">{{total}}</div>
</div>