@import '../../../scss/variables';

div#menu {
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);;
    // padding: 1px;
    position: absolute;
    border-radius: 3px;
    overflow: hidden;

    div.menu-item {
        display: block;
        // padding: 4px 50px 5px 15px;
        padding: 10px 20px;
        min-width: 120px;
        cursor: pointer;
        text-decoration: none;
        color: inherit
    }
    
    div.menu-item:hover {
        background-color: rgba(0,0,0,0.1);
    }
}

div#menu-overlay {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}