<div class="general">
    <div class="code">
        <div class="label">Kód</div>
        <div class="value">
            {{productCode}}
        </div>
    </div>
    <div class="name">
        <div class="label">Název</div>
        <div class="value">
            {{{productName}}}
        </div>
    </div>
</div>
<div class="variant">
    <div class="size">
        <div class="label">Velikost</div>
        <div class="value">
            {{{size}}}
        </div>
    </div>
    <div class="color">
        <div class="label">Barva</div>
        <div class="value">
            {{{color}}}
        </div>
    </div>
</div>

<div class="tables">
    <div class="stocks"></div>
    <div class="prices"></div>
    <div class="barcodes"></div>
</div>

{{!-- <div class="buttons hidden">
    <button class="cancel">Zrušit</button>
    <button class="submit">Uložit</button>
</div> --}}